@import './base.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 100%; /* 기존 1280px 제한 해제 */
  padding: 0; /* 기존 테두리 여백 해제 */
  margin: 0;
  display: block; /* 화면을 반으로 쪼개던 그리드 설정 해제 */
}